/* src/css/profile.css */
.profile {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #3182ce;
  }
  
  .profile-info {
    margin-bottom: 20px;
  }
  
  .friends-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  .friends-list li {
    padding: 5px;
    background-color: #f3f3f3;
    margin-bottom: 10px;
  }
  