.navbar {
    background-color: #0077cc;
    padding: 1rem;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
  }
  
  .navbar li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar li a:hover {
    text-decoration: underline;
  }
  
  .navbar li button {
    color: #0077cc;
    background: white;
    padding: 0.3em 1.1em;
    margin-left: 2em;
  }